<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="icon" type="image/x-icon" href="/static/favicon.png">
  <link rel="stylesheet" href="/static/bulma.min.css">
</head>

<body>
  <nav class="navbar is-primary">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">Home</a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/orders">View Orders</a>
        <a class="navbar-item" href="/orders/new">New Order</a>
      </div>
    </div>
  </nav>
  <section class="section">
    <div class="container">
      <h1 class="title has-text-centered">Welcome to the Order Management System</h1>
      <div class="buttons is-centered">
        <a class="button is-primary is-large" href="/orders">📄 View Orders</a>
        <a class="button is-link is-large" href="/orders/new">📝 New Order</a>
      </div>
    </div>
  </section>
</body>

</html>